@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Nunito+Sans:wght@400;700&family=PT+Sans&display=swap');

$ff-nav: 'Dosis', sans-serif;
$ff-hero: 'Nunito Sans', sans-serif;
$ff-text: 'PT Sans', sans-serif;

$c-main: #ee8a14;
$c-main-opacity: rgba(#ee8a14, .8);
$c-text: #FFFFFF;
$c-reverse: #000000;

$container: 1093px;